/* Comentario */

@font-face {
  font-family: "Roboto";
  src: url(../media/fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../media/fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(../media/fonts/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
